{% extends 'consulting/base.html' %}

{% load static %}

{% block content %}
<!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title" style="font-size: 60px;" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">О нас</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a href="{% url 'consulting:index' %}" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">Домой</a>
                        <span> / </span>
                        <a href="#" class="active" data-sal-delay="450" data-sal="slide-up" data-sal-duration="800">О нас</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->

    <!-- about us area start -->
    <div class="rts-about-us-area rts-section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="thumbnail" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <img src="{% static 'assets/images/image-2.jpg' %}" alt="creative_about">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="about-right-one-area">
                        <div class="title-area">
                            <span data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">О компании</span>
                            <h3 class="title" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
                                Информация о фирме
                            </h3>
                        </div>
                        <p class="disc" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">
                            ООО «Аудиторско-консалтинговая фирма АКАДЕМ-АУДИТ»  была создана в 2003г.
В этом году компания отмечает свой 20-летний юбилей!
                        </p>
                        <p class="disc" data-sal-delay="300" data-sal="slide-up" data-sal-duration="800">
                            Наша аудиторская фирма имеет высокий интеллектуальный потенциал, т.к. основная часть наших сотрудников - это  творчески мыслящие, имеющие широкий кругозор специалисты. Все специалисты имеют большой опыт в научно-педагогических организациях, аудиторских компаниях и в сфере бухгалтерского  и налогового учета. Специализация работников подтверждена аттестатами СРО «Аудиторская Ассоциация Содружество»,  аттестатами ЦАЛАК Минфина РФ, аттестатами профессиональных бухгалтеров Института Профбухгалтеров РФ и аттестатами налоговых консультантов.
                        </p>
                        <p class="disc" data-sal-delay="300" data-sal="slide-up" data-sal-duration="800">
                            <b>Генеральный директор компании</b> Сапьян Ольга Николаевна – профессиональный аудитор, имеющий Единый квалификационный аттестат аудитора нового образца, налоговый консультант, член палаты налоговых консультантов России, доцент, кандидат экономических наук.
                        </p>
                    </div>
                </div>
<!--                <div class="blog-listing-content">-->
                <div class="text-listing-content">

                    <h3 class="title">Информация о качестве услуг.</h3>
                    <p class="disc para-1" style="margin-bottom: 10px;">
                        При оказании услуг наша фирма использует передовые технологии, специализированные программы в сфере аудита и внутреннего контроля качества
                    </p>
                    <p class="disc">
                        ООО «АКФ «АКАДЕМ- АУДИТ» в соответствии с законодательством периодически проходит проверку контроля качества аудиторской деятельности и соблюдения профессиональной этики по результатам которых подтверждено положительное заключение о соответствии нашей работы действующему законодательству, международным стандартам аудита, общепринятым принципам осуществления аудиторской деятельности.
                    </p>
                    <!-- quote area start -->




                    <h4 class="title mt--40 mt_sm--20">Основы политики компании по отношению к клиентам и партнерам.</h4>
<!--                    <p class="disc mb&#45;&#45;25">-->
<!--                        Gravida maecenas lobortis suscipit mus sociosqu convallis, mollis vestibulum donec-->
<!--                        aliquam risus sapien ridiculus, nulla sollicitudin eget in venenatis. Tortor montes-->
<!--                        platea iaculis posuere per mauris, eros porta blandit curabitur ullamcorper varius-->
<!--                        nostra ante risus egestas.-->
<!--                    </p>-->
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="check-area-details">
                                <!-- single check -->
                                <div class="single-check">
                                    <i class="far fa-check-circle"></i>
                                    <span>Проявление профессиональной компетентности, порядочности, честности, надежности, независимости и конфиденциальности по отношению к клиентам и партнерам всегда и во всех сферах деятельности.</span>
                                </div>
                                <!-- single check End -->
                                <!-- single check -->
                                <div class="single-check">
                                    <i class="far fa-check-circle"></i>
                                    <span>Ориентация на потребности клиентов и взаимовыгодное сотрудничество.</span>
                                </div>
                                <!-- single check End -->
                                <!-- single check -->
                                <div class="single-check">
                                    <i class="far fa-check-circle"></i>
                                    <span>Обеспечение высокого качества услуг, реализуемых Компанией.</span>
                                </div>
                                <!-- single check End -->
                                <!-- single check -->
                                <div class="single-check">
                                    <i class="far fa-check-circle"></i>
                                    <span>Проявление высокого профессионализма работниками Компании, высокие стандарты деловых отношений с клиентами и партнерами.
                                            </span>
                                </div>
                                <!-- single check End -->

                            </div>
                        </div>
                    </div>
                    <h3 class="title" style="margin-top:20px;">Информация о клиентах</h3>
                    <p class="disc para-1" style="margin-bottom: 10px;">
                        Нашей Фирмой проводились аудиторские проверки организаций практически всех видов деятельности: некоммерческих организаций, торгово-закупочных, строительно-монтажных, общеобразовательных, организаций по оптовой, розничной торговле; производственных предприятий; организаций, оказывающих услуги различного вида  (в том числе услуги по сдаче в аренду помещений, финансовые услуги и т. д.);   организаций - изготовителей рекламы и дизайна,  кинокомпаний и т. д.
                    </p>
                    <p class="disc">
                        Мы гарантируем профессионализм в работе, индивидуальный подход к каждому клиенту, строгую конфиденциальность полученной информации, неукоснительное соблюдение профессиональных и этических стандартов, принятых в области аудита и консалтинга.
За многолетний период деятельности нами был накоплен богатый опыт, который мы успешно используем, обеспечивая преимущества нашим клиентам. Мы поможем Вам разобраться в сложных вопросах российского законодательства.
                    </p>
                    <h4 class="title mt--40 mt_sm--20">Наши реквизиты</h4>
<!--                    <p class="disc mb&#45;&#45;25">-->
<!--                        Gravida maecenas lobortis suscipit mus sociosqu convallis, mollis vestibulum donec-->
<!--                        aliquam risus sapien ridiculus, nulla sollicitudin eget in venenatis. Tortor montes-->
<!--                        platea iaculis posuere per mauris, eros porta blandit curabitur ullamcorper varius-->
<!--                        nostra ante risus egestas.-->
<!--                    </p>-->
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="check-area-details">
                                <!-- single check -->
<!--                                <div class="single-check">-->
<!--                                    <i class="far fa-check-circle"></i>-->
<!--                                    <span>Генеральный директор: Сапьян Ольга Николаевна</span>-->
<!--                                </div>-->
                                <div class="single-check">
                                    <i class="far fa-check-circle"></i>
                                    <span>Основной государственный регистрационный номер:
                                1037789074751</span>
                                </div>
                                <!-- single check End -->
                                <!-- single check -->
                                <div class="single-check">
                                    <i class="far fa-check-circle"></i>
                                    <span>ИНН: 7729501897</span>
                                </div>
                                <!-- single check End -->
                                <!-- single check -->
                                <div class="single-check">
                                    <i class="far fa-check-circle"></i>
                                    <span>ОРНЗ: 12006027652</span>
                                </div>
                                <!-- single check End -->
                                <!-- single check -->

                                <!-- single check End -->

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- about us area end -->

    <!-- our working process area start -->
<!--    <div class="rts-working-process-area rts-section-gapBottom">-->
<!--        <div class="container">-->
<!--            <div class="row mb&#45;&#45;30">-->
<!--                <div class="col-12">-->
<!--                    <div class="title-area text-center">-->
<!--                        <span data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Этапы работы</span>-->
<!--                        <h3 class="title" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">Рабочие процессы</h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row g-5">-->
<!--                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">-->
<!--                    <div class="single-working-process-one">-->
<!--                        <div class="inner text-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">-->
<!--                            <img class="logo" src="assets/images/working-process/logo/01.svg" alt="process-logo">-->
<!--                            <h5 class="title">-->
<!--                                #1 Design-->
<!--                            </h5>-->
<!--                            <p class="disc">-->
<!--                                Tempor lacus sodaleset conub accumsan ornare life-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">-->
<!--                    <div class="single-working-process-one">-->
<!--                        <div class="inner text-center" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">-->
<!--                            <img class="logo" src="assets/images/working-process/logo/02.svg" alt="process-logo">-->
<!--                            <h5 class="title">-->
<!--                                #2 Branding-->
<!--                            </h5>-->
<!--                            <p class="disc">-->
<!--                                Tempor lacus sodaleset conub accumsan ornare life-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">-->
<!--                    <div class="single-working-process-one">-->
<!--                        <div class="inner text-center" data-sal-delay="350" data-sal="slide-up" data-sal-duration="800">-->
<!--                            <img class="logo" src="assets/images/working-process/logo/03.svg" alt="process-logo">-->
<!--                            <h5 class="title">-->
<!--                                #3 Marketing-->
<!--                            </h5>-->
<!--                            <p class="disc">-->
<!--                                Tempor lacus sodaleset conub accumsan ornare life-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">-->
<!--                    <div class="single-working-process-one">-->
<!--                        <div class="inner text-center" data-sal-delay="450" data-sal="slide-up" data-sal-duration="800">-->
<!--                            <img class="logo" src="assets/images/working-process/logo/04.svg" alt="process-logo">-->
<!--                            <h5 class="title">-->
<!--                                #4 Solution-->
<!--                            </h5>-->
<!--                            <p class="disc">-->
<!--                                Tempor lacus sodaleset conub accumsan ornare life-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- our working process area end -->

    <!-- tart Customer feedback area -->
<!--    <div class="rts-testimonial-area-one pb&#45;&#45;120">-->
<!--        <div class="bg-light-testimonial">-->
<!--            <div class="container">-->
<!--                <div class="row mb&#45;&#45;30">-->
<!--                    <div class="col-12">-->
<!--                        <div class="title-area-testi">-->
<!--                            <div class="title-area text-start">-->
<!--                                <span data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Отзывы</span>-->
<!--                                <h3 class="title" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">-->
<!--                                    Отзывы наших клиентов</h3>-->
<!--                            </div>-->
<!--                            <div class="swiper-button-wrapper">-->
<!--                                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"></div>-->
<!--                                <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-12">-->
<!--                        <div class="slide-div">-->
<!--                            &lt;!&ndash; Swiper &ndash;&gt;-->
<!--                            <div class="swiper testimonial-1">-->
<!--                                <div class="swiper-wrapper">-->
<!--                                    <div class="swiper-slide">-->
<!--                                        <div class="single-testimonial-one">-->
<!--                                            <div class="header-area">-->
<!--                                                <img src="assets/images/testimonials/01.png" alt="testimonials">-->
<!--                                                <div class="name-desig">-->
<!--                                                    <a href="#">-->
<!--                                                        <h6>Jasmine Lemon</h6>-->
<!--                                                    </a>-->
<!--                                                    <p>Manager at <span>Apple</span></p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="body">-->
<!--                                                <p class="disc">-->
<!--                                                    ”Quam conubia venenatis nullam nisi bibendum posuere ligula urna. Netus partent-->
<!--                                                    morbi convallis cum habitasse mauris arcu taciti magna orci primis”-->
<!--                                                </p>-->
<!--                                            </div>-->
<!--                                            <div class="footer">-->
<!--                                                <div class="stars-area">-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                                <div class="logo">-->
<!--                                                    <img src="assets/images/testimonials/logo/01.png" alt="Testimonial-Logo">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="swiper-slide">-->
<!--                                        <div class="single-testimonial-one">-->
<!--                                            <div class="header-area">-->
<!--                                                <img src="assets/images/testimonials/02.png" alt="testimonials">-->
<!--                                                <div class="name-desig">-->
<!--                                                    <a href="#">-->
<!--                                                        <h6>Jasmine Lemon</h6>-->
<!--                                                    </a>-->
<!--                                                    <p>Manager at <span>Apple</span></p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="body">-->
<!--                                                <p class="disc">-->
<!--                                                    ”Quam conubia venenatis nullam nisi bibendum posuere ligula urna. Netus partent-->
<!--                                                    morbi convallis cum habitasse mauris arcu taciti magna orci primis”-->
<!--                                                </p>-->
<!--                                            </div>-->
<!--                                            <div class="footer">-->
<!--                                                <div class="stars-area">-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                                <div class="logo">-->
<!--                                                    <img src="assets/images/testimonials/logo/01.png" alt="Testimonial-Logo">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="swiper-slide">-->
<!--                                        <div class="single-testimonial-one">-->
<!--                                            <div class="header-area">-->
<!--                                                <img src="assets/images/testimonials/03.png" alt="testimonials">-->
<!--                                                <div class="name-desig">-->
<!--                                                    <a href="#">-->
<!--                                                        <h6>Jasmine Lemon</h6>-->
<!--                                                    </a>-->
<!--                                                    <p>Manager at <span>Apple</span></p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="body">-->
<!--                                                <p class="disc">-->
<!--                                                    ”Quam conubia venenatis nullam nisi bibendum posuere ligula urna. Netus partent-->
<!--                                                    morbi convallis cum habitasse mauris arcu taciti magna orci primis”-->
<!--                                                </p>-->
<!--                                            </div>-->
<!--                                            <div class="footer">-->
<!--                                                <div class="stars-area">-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                                <div class="logo">-->
<!--                                                    <img src="assets/images/testimonials/logo/01.png" alt="Testimonial-Logo">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="swiper-slide">-->
<!--                                        <div class="single-testimonial-one">-->
<!--                                            <div class="header-area">-->
<!--                                                <img src="assets/images/testimonials/01.png" alt="testimonials">-->
<!--                                                <div class="name-desig">-->
<!--                                                    <a href="#">-->
<!--                                                        <h6>Jasmine Lemon</h6>-->
<!--                                                    </a>-->
<!--                                                    <p>Manager at <span>Apple</span></p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="body">-->
<!--                                                <p class="disc">-->
<!--                                                    ”Quam conubia venenatis nullam nisi bibendum posuere ligula urna. Netus partent-->
<!--                                                    morbi convallis cum habitasse mauris arcu taciti magna orci primis”-->
<!--                                                </p>-->
<!--                                            </div>-->
<!--                                            <div class="footer">-->
<!--                                                <div class="stars-area">-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                                <div class="logo">-->
<!--                                                    <img src="assets/images/testimonials/logo/01.png" alt="Testimonial-Logo">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="swiper-slide">-->
<!--                                        <div class="single-testimonial-one">-->
<!--                                            <div class="header-area">-->
<!--                                                <img src="assets/images/testimonials/01.png" alt="testimonials">-->
<!--                                                <div class="name-desig">-->
<!--                                                    <a href="#">-->
<!--                                                        <h6>Jasmine Lemon</h6>-->
<!--                                                    </a>-->
<!--                                                    <p>Manager at <span>Apple</span></p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="body">-->
<!--                                                <p class="disc">-->
<!--                                                    ”Quam conubia venenatis nullam nisi bibendum posuere ligula urna. Netus partent-->
<!--                                                    morbi convallis cum habitasse mauris arcu taciti magna orci primis”-->
<!--                                                </p>-->
<!--                                            </div>-->
<!--                                            <div class="footer">-->
<!--                                                <div class="stars-area">-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                                <div class="logo">-->
<!--                                                    <img src="assets/images/testimonials/logo/01.png" alt="Testimonial-Logo">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="swiper-slide">-->
<!--                                        <div class="single-testimonial-one">-->
<!--                                            <div class="header-area">-->
<!--                                                <img src="assets/images/testimonials/01.png" alt="testimonials">-->
<!--                                                <div class="name-desig">-->
<!--                                                    <a href="#">-->
<!--                                                        <h6>Jasmine Lemon</h6>-->
<!--                                                    </a>-->
<!--                                                    <p>Manager at <span>Apple</span></p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="body">-->
<!--                                                <p class="disc">-->
<!--                                                    ”Quam conubia venenatis nullam nisi bibendum posuere ligula urna. Netus partent-->
<!--                                                    morbi convallis cum habitasse mauris arcu taciti magna orci primis”-->
<!--                                                </p>-->
<!--                                            </div>-->
<!--                                            <div class="footer">-->
<!--                                                <div class="stars-area">-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                                <div class="logo">-->
<!--                                                    <img src="assets/images/testimonials/logo/01.png" alt="Testimonial-Logo">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; swiper end &ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- tart Customer feedback area End -->

    <!-- start Footer area -->
    <!-- our brand area start -->
    {% include 'consulting/clients.html' %}
{% endblock %}
