{% load static %}

<!-- our brand area start -->
    <div class="rts-brand-area rts-section-gapBottom" style="margin-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-one-wrapper">
                        <!-- Swiper -->
                        <div class="swiper brand-1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#"><img src="{% static 'assets/images/clients/amsel_svyaz.jpg' %}" alt="Brand_area_images"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"><img src="{% static 'assets/images/clients/amtel_service.jpg' %}" alt="Brand_area_images"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"><img src="{% static 'assets/images/clients/farm.jpg' %}" alt="Brand_area_images"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"><img src="{% static 'assets/images/clients/kenmer.png' %}" alt="Brand_area_images"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"><img class="mt-dec-brand" src="{% static 'assets/images/clients/kenmer.jpeg' %}" alt="Brand_area_images"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"><img src="{% static 'assets/images/clients/logo-pobeda-1.jpg' %}" alt="Brand_area_images"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"><img src="{% static 'assets/images/clients/mdm.png' %}" alt="Brand_area_images"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"><img src="{% static 'assets/images/clients/mosfilm.png' %}" style="width: 150px; height:400px;" alt="Brand_area_images"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"><img src="{% static 'assets/images/clients/termotex.png' %}" alt="Brand_area_images"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"><img class="mt-dec-brand" src="{% static 'assets/images/clients/vertical.jpg' %}" alt="Brand_area_images"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"><img class="mt-dec-brand" src="{% static 'assets/images/clients/WIELTON.jpg' %}" alt="Brand_area_images"></a>
                                </div>
                            </div>
                        </div>
                        <!-- swiper end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our brand area End -->